h1 {
    font-size: 9rem;
    font-family: aAwalRamadhan;
    color: #ecae7d;
    letter-spacing: 1rem;
    text-wrap: wrap;
    margin-bottom: -1.5rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h2 {
    font-size: 4rem;
    font-family: aAwalRamadhan;
    color: #e9311a;
    letter-spacing: 0.4rem;
    text-align: left;
}

.section-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

section {
    max-width: 1200px;
    width: 100%;
    margin-bottom: 30px;
}

p, li {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}

section ul {
    width: 100%;
}

section li {
    margin-left: 50px;
}

.imageContainer {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    padding: 10px 0 0;
    justify-items: center;
}
   
img {
    max-width: 100%;
    max-height:100%;
    margin: 10px;
}

@media only screen and (max-width: 720px) {

    /* MOBILE HEADINGS */

    h1 {
        font-size: 4rem;
        letter-spacing: 0.4rem;
        margin-bottom: 0;
    }
    h2 {
        font-size: 2.5rem;
        text-align: center;
        letter-spacing: 0;
    }

    p, li {
        font-size: 1rem;
    }
    .section-wrapper {
        padding: 10px;
    }
    .imageContainer {
        grid-template-columns: 1fr;
    }
}