/* HEADINGS */

h1 {
    font-size: 9rem;
    font-family: aAwalRamadhan;
    color: white;
    letter-spacing: 1rem;
    text-wrap: nowrap;
    margin-bottom: -1.5rem;
}

h2 {
    font-size: 3rem;
    font-family: aAwalRamadhan;
    color: #ecae7d;
    letter-spacing: 0.4rem;
}

h3 {
    font-size: 5rem;
    font-family: aAwalRamadhan;
    color: #e9311a;
    letter-spacing: 0.4rem;
}

h4 a {
    font-size: 5rem;
    color: #ed6335;
    font-family: aAwalRamadhan;
    letter-spacing: 0.2rem;
    text-align: left;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.689);
    text-decoration: none;
}

h4 a:hover {
    color: #ecae7d;
}

/* Sections */
section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 50px;
}

#feature-wrapper {
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
}

.feature{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 5px;
    width: calc(100vw - 40px);
    max-width: 800px;
    aspect-ratio: 16 / 9;
    border-radius: 30px;
    padding: 50px;
    overflow: hidden;
    background-size: cover;
    background-color: #064c7284;
    background-position: center center;
    background-blend-mode: multiply;
}

/* Kelompok */
#kelompok p{
    margin: 20px 0;
    text-align: center;
    line-height: 1.5;
    font-family: Groundation;
    color: #026c80;
    font-size: 2.5rem;
}

@media only screen and (max-width: 720px) {

    /* MOBILE HEADINGS */

    h1 {
        font-size: 4rem;
        letter-spacing: 0.4rem;
        margin-bottom: 0;
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    
    h3 {
        font-size: 2.5rem;
        text-align: center;
    }
    h4 a {
        font-size: 2rem;
        text-align: center;
    }

    p {
        font-size: 1.2rem;
    }

    /* featured */
    .feature {
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    #kelompok p {
        font-size: 1.2rem;
    }
}